<div class="container">
  <div class="my-3">
    <%= form_with url: owner_tenders_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if @tenders.any? %>
    <%= render 'owner/tenders/owner_tab' %>
    <div class="tab-content" id="myTabContent">
      <%= render 'owner/tenders/draft' %>
      <%= render 'owner/tenders/published' %>
      <div class="tab-pane fade py-3" id="closed-tab-pane" role="tabpanel" aria-labelledby="closed-tab" tabindex="0">
        <div class="cards">
        </div>
      </div>
    </div>
  <% else %>
    <h4 class="pt-3">No matching results</h4>
  <% end %>
</div>
