<div class="container">
  <div class="my-3">
    <%= form_with url: owner_tenders_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <% if params[:query].present? %>
    <% @tenders.reverse.each do |tender| %>
      <div class="card-pick">
        <%= render 'tenders/card', tender: tender%>
      </div>
    <% end %>
  <% else %>
    <%= render 'owner/tenders/owner_tab' %>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade py-3 show active" id="draft-tab-pane" role="tabpanel" aria-labelledby="draft-tab" tabindex="0">
        <div class="cards">
          <%= link_to new_tender_path, class: 'text-decoration-none' do %>
            <div class="card-pick bg-secondary-subtle">
              <h5 class="text-center vertical-center fw-semibold">+ Create New Tender</h5>
            </div>
          <% end %>
          <% @tenders.where(published: false).reverse.each do |tender| %>
            <div class="card-pick">
              <%= render 'tenders/card', tender: tender%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade py-3" id="published-tab-pane" role="tabpanel" aria-labelledby="published-tab" tabindex="0">
        <div class="cards">
          <% @tenders.where(published: true).reverse.each do |tender| %>
            <div class="card-pick">
              <%= render 'tenders/card', tender: tender %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade py-3" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
        <div class="cards">
        </div>
      </div>
    </div>
  <% end %>
</div>
