<div class="col-md-7 mx-auto">
  <h2 class="mt-3 text-center"><%= @tender.title %></h2>
  <div>
    <p class="pt-3 text-center"><%= @tender.synopsis %></p>
  </div>
  <div >
    <h4 class="py-2 text-center">Specify Project Requirements</h4>
  </div>
  <div>
    <% @selected_prerequisite.each_with_index do |prerequesite, index| %>
      <h5 class="text-center mb-0">Requirement Specification <%= index + 1%>:</h5>
      <p class="d-flex justify-content-between p-3">
        <%= prerequesite.description %>
        <% if policy(prerequesite).edit? %>
          <%= link_to "enhance", edit_selected_prerequisite_path(prerequesite), class: "btn btn-outline-info" %>
        <% end %>
      </p>
    <% end  %>
  </div>
</div>
