<div class="d-flex flex-column justify-content-between h-100" data-controller="active-button">
  <div class="d-flex flex-column align-items-start">
    <%= link_to "Project Synopsis", tender_path(tender), class: "active btn btn-outline-primary w-100 my-2",
    data: { active_button_target: "link", action: "click->active-button#toggle" } %>
    <% tender.selected_prerequisites.joins(:prerequisite).order("prerequisites.name ASC").each do |prerequisite| %>
      <% if policy(prerequisite).edit? %>
        <%= link_to prerequisite.prerequisite.name.titleize, edit_selected_prerequisite_path(prerequisite),
      class: "btn #{prerequisite.id == params[:id] ? 'btn-primary' : 'btn-outline-primary'} w-100 my-2",
      data: { turbo_frame: :edit_prereq, active_button_target: "link", action: "click->active-button#toggle" }  %>
      <% else %>
        <%= link_to prerequisite.prerequisite.name.titleize, selected_prerequisite_path(prerequisite),
      class: "btn #{prerequisite.id == params[:id] ? 'btn-primary' : 'btn-outline-primary'} w-100 my-2",
      data: { turbo_frame: :edit_prereq, active_button_target: "link", action: "click->active-button#toggle" }  %>
      <% end %>
    <% end  %>
  </div>
  <div>
    <button class="btn btn-secondary mb-1 w-100">Save Draft</button>
    <%= simple_form_for tender do |f| %>
      <%= f.input :published, as: :hidden, input_html: { value: true } %>
      <%= f.submit "Publish", class: "btn btn-primary mb-1 w-100"  %>
    <% end %>
  </div>
</div>
