<div class="d-flex flex-column justify-content-between" style="height: calc(100vh - 90vh);" data-controller="active-button">
  <div class="d-flex flex-column align-items-start pt-3">
    <%# <h3><%= tender.title</h3> %>
    <div class="d-flex align-items-center border-top border-bottom w-100 py-3 ms-1 ">
      <i data-active-button-target="icon" class="fa-regular fa-file-lines me-2 text-primary"></i>
      <%= link_to "Tender Overview", tender_path(tender), class: "fw-normal text-decoration-none text-secondary w-100",
      data: { active_button_target: "link", action: "click->active-button#toggle" } %>
    </div>
    <div class="border-bottom pb-3 w-100">
      <h5 class="m-0 pt-3 pb-2">Prerequisites</h5>
      <%= turbo_stream_from "tender_#{tender.id}_links" %>
      <%= render 'tenders/spq_index_links', tender: tender %>
    </div>
  </div>
  <div class="overal-score">
    <% if tender.user.tenders_as_bidder.include?(tender) %>
      <%= render "shared/score", score: tender.submissions.find_by(user: tender.user)&.average_score %>
    <% end %>
  </div>
</div>
