<%= simple_form_for @tender do |f| %>
  <div class="form-floating pb-3">
    <%= f.input_field :title, class: 'form-control tender_title', id: 'floatingInput tender_title' ,placeholder: 'Project Title' %>
    <%= f.label :title, "Project Title" %>
    <%= f.input :document, as: :file %>
  </div>
  <div >
    <%= f.submit 'Next', class: 'btn btn-primary w-100 my-5' %>
  </div>
<% end %>
