<%= simple_form_for @tender do |f| %>
  <div class="form-floating pb-3">
    <%= f.input_field :title, class: 'form-control tender_title', id: 'floatingInput tender_title' ,placeholder: 'Project Title' %>
    <%= f.label :title, "Project Title" %>
    <%= f.input :document, as: :file %>
  </div>
  <div class="form-floating">
    <%= f.text_area :synopsis, as: :text, class: 'form-control tender_synopsis', id: 'floatingInput' ,placeholder: 'Project Title' %>
    <%= f.label :synopsis,'Synopsis', class: 'pb-5"' %>
  </div>
  <h4 class="text-center mt-5 mb-4 fw-semibold">Select Categories</h4>
  <fieldset class="form-group check_boxes optional snippet_tags">
    <div class="d-flex justify-content-between">
      <% @prerequisites.each_with_index do |prerequisite, index| %>
        <div class="tag-item">
          <input class="form-check-input check_boxes optional tag-selector"
                 type="checkbox"
                 value="<%= prerequisite.id %>"
                 name="tender[selected_prerequisites_attributes][<%= index %>][prerequisite_id]"
                 id="tender_selected_prerequisites_attributes_<%= prerequisite.id %>">
          <label class="form-check-label collection_check_boxes"
                 for="tender_selected_prerequisites_attributes_<%= prerequisite.id %>">
            <i class="<%= @prerequisitesicons[index] %>"></i>
            <p class="mt-2"><%= prerequisite.name.capitalize %></p>
          </label>
        </div>
      <% end %>
    </div>
  </fieldset>
  <div >
    <%= f.submit 'Next', class: 'btn btn-primary w-100 my-5' %>
  </div>
<% end %>
