<div class="container">
  <div class="my-3">
    <%= form_with url: tenders_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control s-bar",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary s-button" %>
    <% end %>
  </div>
  <hr>
  <% if @tenders.any? %>
    <div class="cards my-3">
      <% @tenders.each do |tender| %>
        <div class="card-pick">
          <div class="d-flex mt-2 ms-2">
          </div>
          <%= link_to tender_path(tender), class: "text-decoration-none h-100" do %>
            <div class="card-pick-info">
              <h5 class= "text-black", style= "text-decoration: none"><%= tender.title %></h5>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <h4 class="pt-3">No matching results</h4>
  <% end %>
</div>
