<% if @tender.published %>

<%= render "published" %>

  <div class="d-flex justify-content-around">
    <div><%= link_to "Compatibility", @tender %></div>
    <div><%= link_to "Query API", @tender %></div>
    <div><%= link_to "Download PDF", @tender %></div>
  </div>

<% else %>

<%= render "published" %>

  <div class="d-flex justify-content-around">
    <div><%= link_to "Published", @tender %></div>
    <div><%= link_to "Save Draft", @tender %></div>
  </div>

<% end %>
