<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <% if current_user.owner %>
        <%= link_to owner_tenders_path, class: "navbar-brand ms-4", style: 'font-family: jura;' do %>
          <h4 class="text-white mb-0">Reacquaint</h4>
        <% end %>
      <% else %>
        <%= link_to tenders_path, class: "navbar-brand ms-4", style: 'font-family: jura;' do %>
          <h4 class="text-white mb-0">Reacquaint</h4>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to owner_tenders_path, class: "navbar-brand ms-4", style: 'font-family: jura;' do %>
        <h4 class="text-white mb-0">Reacquaint</h4>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.owner %>
          <% else %>
          <% end %>
          <li class="nav-item active">
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "account-logo.png", class: "avatar dropdown-toggle me-4", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% if current_user.owner %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            <% else %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "My Submission", bidder_submissions_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            <% end %>
          </li>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <li class="nav-item">
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
