<div class="video-container">
  <%= video_tag "goop.mp4", autoplay: true, loop: true, muted: true, playsinline: true, class: "background-video" %>
</div>
<div class="hero" >
  <div class="nav">
    <p> </p>
    <% if user_signed_in? %>
      <button>
        <%= link_to "My Submissions", bidder_submissions_path, class: "text-white text-decoration-none" %>
      </button>
    <% else %>
      <button type="button">
        <%= link_to "Login", new_user_session_path, class: "text-decoration-none text-white" %>
      </button>
    <% end %>
  </button>
</div>
<div class="content">
  <h1 class="display-1">Reacquaint</h1>
  <h4>Make better bids, win better work</h4>
  <!-- <button type="button">Change your life.</button> -->
</div>
<div class="side-bar">
  <!-- -->
  <% if user_signed_in? %>
    <% if current_user.owner %>
    <% else %>
    <% end %>
    <%= image_tag "menu.png", class: "menu", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% if current_user.owner %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
      </div>
    <% else %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
      </div>
    <% end %>
  <% else %>
  </li>
<% end %>
<!-- -->
<!-- <%= image_tag 'menu.png', class: 'menu' %> -->
</div>
</div>
