<div class="d-flex flex-column justify-content-between" style="height: calc(100vh - 80px);" data-controller="active-button">
  <div class="d-flex flex-column align-items-start pt-3">
    <h3><%= submission.tender.title %></h3>
    <div class="d-flex align-items-center border-top border-bottom w-100 py-3 ms-1 ">
      <i data-active-button-target="icon" class="fa-regular fa-file-lines me-2 text-primary"></i>
      <%= link_to "Tender Overview", submission_path(submission), class: "fw-normal text-decoration-none text-secondary w-100",
      data: { active_button_target: "link", action: "click->active-button#toggle" } %>
    </div>
    <div class="border-bottom pb-3 w-100">
      <h5 class="m-0 pt-3 pb-2">Prerequisites</h5>
      <% submission.compatible_responses.each_with_index do |c_response, index| %>
        <% if policy(c_response).edit? %>
          <div class="d-flex align-items-center ms-1 py-2">
            <i data-active-button-target="icon" class="<%= c_response.selected_prerequisite.prerequisite.fa_class %> me-2 text-secondary"></i>
            <%= link_to c_response.selected_prerequisite.prerequisite.name.titleize, edit_compatible_response_path(c_response),
      class: "fw-lighter text-decoration-none text-secondary w-100",
      data: { turbo_frame: :edit_prereq, active_button_target: "link", action: "click->active-button#toggle" }  %>
          </div>
        <% else %>
          <div class="d-flex align-items-center">
            <i data-active-button-target="icon" class="<%= c_response.selected_prerequisite.prerequisite.fa_class %> me-2 text-secondary"></i>
            <%= link_to c_response.selected_prerequisite.prerequisite.name.titleize, compatible_response_path(c_response),
      class: "fw-lighter text-decoration-none text-secondary w-100",
      data: { turbo_frame: :edit_prereq, active_button_target: "link", action: "click->active-button#toggle" }  %>
          </div>
        <% end %>
      <% end  %>
    </div>
  </div>
  <div>
    <%= simple_form_for submission do |f| %>
      <%= f.input_field :published, as: :hidden, input_html: { value: true } %>
      <%= f.submit 'Publish', class: "btn btn-primary mb-1 w-100" %>
    <% end %>
    <%= simple_form_for submission do |f| %>
      <%= f.input_field :published, as: :hidden, input_html: { value: false } %>
      <%= f.submit 'Save Draft', class: "btn btn-outline-secondary mb-1 w-100" %>
    <% end %>
  </div>
</div>
