  <%= link_to tenders_path, class: "btn btn-primary m-3" do %>
  <i class="fa-solid fa-arrow-left"></i>
<% end %>
<h1>Submissions#index</h1>
<div class="container">
  <div>
    <div>Project Name: <%= @tender.title %></div>
    <div>Project Synopsis: <%= @tender.synopsis %></div>
  </div>
  <p>Submissions:</p>
  <div>
    <% @submissions.each do |submission| %>
      <p>Company Name: <%= submission.user.company_name %></p>
      <% submission.compatible_responses.each do |response| %>
        <p><%= response.selected_prerequisite.prerequisite.name %> <%= response.score %></p>
      <% end  %>
    <% end %>
  </div>
</div>
