<h1>Submissions#index</h1>

<div>

  <div>
    <div>Project Name: <%= @tender.title %></div>
    <div>Project Synopsis: <%= @tender.synopsis %></div>
  </div>

  <div>
    <p>Submissions:</p>
      <% @submissions.each do |submission| %>
      <p>Company Name: <%= submission.user.company_name %></p>
      <% submission.compatible_responses.each do |response| %>
      <p><%= response.selected_prerequisite.prerequisite.name %> <%= response.score %></p>
      <% end  %>
    <% end %>
  </div>

</div>
