<div class="d-flex h-100">
  <div class="d-flex flex-column justify-content-between w-100">
    <%= link_to tender_path(submission.tender), class: "text-decoration-none text-black" do %>
      <h5 class="text-black fw-bold text-wrap pt-0"><%= submission.tender.title %></h5>
    <% end %>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center ">
        <i class="fa-solid fa-chart-line fa-lg"></i>
        <% unless submission.average_score == "-" %>
          <p class="m-2 text-center fs-6 <%= score_color(submission.average_score) %>"><%= submission.average_score %>%</p>
        <% end %>
      </div>
      <% if submission.tender.document.attached? %>
        <%= link_to cloudinary_url(submission.tender.document.key, resource_type: 'image'), class: 'pdf-icon fa-lg text-decoration-none', target: '_blank' do %>
          <h6 class="text-black mb-0"><i class="fa-solid fa-file-pdf"></i>View PDF</h6>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
