<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: bidder_submissions_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="container">
  <h2>Bidder submissions index page:</h2>
  <div class="d-flex">
    <div class="cards  my-3">
      <% @submissions.each do |submission| %>
        <%= link_to submission_path(submission), class: 'text-decoration-none text-black' do %>
          <div class="card-pick p-3">
            <div class="d-flex justify-content-between">
              <div class="card-title">
                <h5><%= submission.tender.title %></h5>
              </div>
              <p class="badge rounded-pill text-bg-success fw-medium">Submitted</p>
            </div>
            <div class="text-body-secondary">
              <h6 class="px-2"><%= submission.tender.synopsis %></h6>
            </div>
            <div class="card-text">
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
